.btn {
    margin-left: 450px;
    border: 0.5px solid black;
    border-radius: 15px;
    background-color: rgb(255, 215, 215);
  }
  
  .container .tabel {
    margin: 0 auto;
  
  }
  
  .btn-detail {
    border: 0.5px solid black;
    border-radius: 10px;
    background-color: rgb(230, 91, 155);
  }
  
  .nav {
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    font-size: 30px;
    position: fixed;
    background: whitesmoke;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .05);
  }

  body{
    background-color: bisque;

  }
 h1{
    font-size: 24px;
    color:rgb(172, 106, 8);
 }
